.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 14.5rem;
}

.navigation button {
  margin-left: 1rem;
}

@media (max-width: 764px) {
  .navigation button {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}