.postItem {
  display: flex;
  text-align: center;
  height: 6rem;
  width: 100%;
  padding: 0.5rem 0 0 0;
}

.postTitle {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: auto;
  padding-left: 0.5rem;
  height: 4rem;
  margin: 0;
  color: #37474f;
  align-self: center;
}

.signiture {
  display: flex;
  flex-grow: 100;
  align-items: center;
  /* justify-content: stretch; */
  padding-left: 0.5rem;
  background: linear-gradient(90deg, rgba(255,166,167,1) 50%, rgba(0,212,255,0) 100%);;
  color: #49545a;
  width: auto;
  margin: 0;
  height: 2rem;
  align-self: center;
}

/* .postAndSignitureDiv {
  justify-self: stretch;
  width: auto;
} */

.postItem img {
  width: 9.5rem;
  padding: 0;
  object-fit: cover;
}

@media (max-width: 764px) {
  .postItem {
    padding: 8px 0 0 0;
    height: 4rem;
  }

  .postTitle {
    width: auto;
    padding-left: 0.5rem;
    height: 2.5rem;
    margin: 0;
    font-size: 1.5rem;
  }

  .signiture {
    height: 1.5rem;
    font-size: 0.75rem;
  }

  .postItem img {
    width: 4rem;
  }
}

@media (max-width: 390px) {
  .postTitle {
    font-size: 1.2rem;
  }
}