.postItem {
  display: flex;
  text-align: center;
  height: 96px;
  width: 100%;
  padding: 8px 0 0 0;
}

.postTitle {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: auto;
  padding-left: 8px;
  height: 64px;
  margin: 0;
  color: #37474f;
  align-self: center;
}

.signiture {
  display: flex;
  flex-grow: 100;
  align-items: center;
  /* justify-content: stretch; */
  padding-left: 8px;
  background: linear-gradient(90deg, rgba(255,166,167,1) 50%, rgba(0,212,255,0) 100%);;
  color: #49545a;
  width: auto;
  margin: 0;
  height: 32px;
  align-self: center;
}

/* .postAndSignitureDiv {
  justify-self: stretch;
  width: auto;
} */

.postItem img {
  width: 152px;
  padding: 0;
  object-fit: cover;
}

